[submodule "lib/highlightjs"]
	path = lib/highlightjs
	url = https://github.com/components/highlightjs.git
[submodule "lib/markdown-it"]
	path = lib/markdown-it
	url = https://github.com/markdown-it/markdown-it.git
[submodule "lib/markdown-it-checkbox"]
	path = lib/markdown-it-checkbox
	url = https://github.com/mcecot/markdown-it-checkbox.git
[submodule "lib/markdown-it-emoji"]
	path = lib/markdown-it-emoji
	url = https://github.com/markdown-it/markdown-it-emoji.git
	branch = master
[submodule "lib/markdown-it-footnote"]
	path = lib/markdown-it-footnote
	url = https://github.com/markdown-it/markdown-it-footnote
