/* Style for the menu */
#__markdown-viewer__tools {
  margin:0;
  padding:0;
  background:#555;
  color:#eee;
  box-shadow:0 -1px rgba(0,0,0,.5) inset;
  border-radius: .5em;
  float:right;
  margin: 0 0 .5em .5em;
}

#__markdown-viewer__tools a[href]:after {
  content: "";
}

/* style the table of contents and its items */
#__markdown-viewer__toc {
  display:block;
  padding: .5em;
  border:0;
}

#__markdown-viewer__toc::before {
  content: "Table of Contents";
  text-align: center;
  display: block;
  font-weight: bold;
  text-decoration: underline;
  margin: 1em auto;
}

#__markdown-viewer__toc * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#__markdown-viewer__toc a {
  color: white;
  text-decoration: none;
}

#__markdown-viewer__toc ul {
  list-style: inside "• ";
  padding: 0;
  margin: 0;
}

#__markdown-viewer__toc ul ul {
  padding-left: 1.5em;
}
