body {
	padding: 45px;
	min-width: 200px;
}

.foreword {
	max-width: 980px;
	margin: 0 auto;
}

.foreword h2 {
	text-align: center;
}

.features {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
}

#top::before {
	content: '';
	background: no-repeat url('/ext/markdown-mark.svg');
	background-size: 80%;
	background-position: center;
	width: 50px;
	height: 50px;
	display: inline-block;
	vertical-align: -40%;
}

.card {
	text-align: left;
	max-width: 20em;
	border-radius: 10px;
	padding: 0 10px 10px;
	margin: 10px;
	border: black thin solid;
}

.card h4 {
	text-align: center;
}

.card ul {
	padding-left: 2em;
}

.card img.float {
	max-width: 35%;
	float: right;
}

.card .center {
	text-align: center;
}

.card a.scheme {
	line-break: anywhere;
}

.card a.scheme strong {
	white-space: nowrap;
}
