html, body, iframe {
	display: block;
	margin: 0px;
	padding: 0px;
}

iframe {
	border: none;
	overflow: scroll;
	width: 100vw;
	height: 100vh;
	resize: both;
}

.error {
	text-align: center;
	display: block;
	margin: 20vh auto 0;
	padding: 15px;
	background-color: #FF000080;
	border-radius: 10px;
	max-width: 50vw;
	line-height: 200%;
}

.error span {
	font-weight: bold;
}
